<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>About&nbsp;<i class="fas fa-fish" style="color: cornflowerblue;"></i>&nbsp;<strong>fish∞erd</strong>  ？</h1>
      <br>みんなで作るお魚図鑑&nbsp;<i class="fa-solid fa-shrimp" style="color: #ff7f7f;"></i><i class="fa-solid fa-shrimp" style="color: #ff7f7f;"></i><i class="fa-solid fa-shrimp" style="color: #ff7f7f;"></i>
      <br>
      <br><i class="fa-solid fa-camera" style="color: #708090;"></i>&nbsp;掲載する写真はご自身で撮影した写真に限ります。
      <br><i class="fa-solid fa-user" style="color: #00bb85;"></i>&nbsp;閲覧は会員登録しなくても閲覧可能。
      <br>
      <br>投稿されたい方、コメントされたい方は会員登録をお願いします。
      <br>
      <br>・ダイビングをする人
      <br>・海に行った人
      <br>・行きたいけど行きたくても行けない人
      <br>・海が好きな人
      <br>・誰でも
      <br><br>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>