<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to&nbsp;<i class="fas fa-fish" style="color: cornflowerblue;"></i>&nbsp;<strong>fish∞erd</strong>  !!</h1>
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
    </div>
  </div>
</div>