<!DOCTYPE html>
ユーザー管理画面
  
  <footer>
    <div class="container mt-5">
    	<div class="row">
      	<div class="mx-auto">
      		<p>CopyRight ©073</p>
      	</div>
      </div>
    </div>
  </footer>
  </body>
    
</html>